/* === background ===*/
.white-bg{
  background:#ffffff;
}
.grey-bg{
  background:#eeeeee;
  color: white;
}
.black-bg{
  background:#111111;
  color: white;
}

.pink-bg{
  background:#d65b73;
  color: white;
}
.skyblue-bg{
  background:#85bce6;
  color: white;
}
.cloudblue-bg{
  background:#cfe4f5;
  color: white;
}
.navyblue-bg{
  background:#1a233a;
  color: white;
}
/* === colors ===*/
.white{
  color:#ffffff;
}
.grey{
  color:#eeeeee;
}
.black{
  color:#111111;
}
.pink{
  color:#d65b73;
}
.skyblue{
  color:#85bce6;
}
.cloudblue{
  color:#cfe4f5;
}
.navyblue{
  color:#1a233a;
}
/* === buttons ===*/
.btn{
  margin:1px 3px;
}
.iconbutton{
  border-radius: 100px;
  background: rgba(125,125,125,.2);
  padding: 6px;
  color : white;
}
/* === rowfix === */
.row{
  margin-left:0;
  margin-right:0;
  position: relative;
  width: 100%;
}
/* === canvasfix === */
.card canvas{
    width: 100%;
}
/* === screen classes === */
body>.row{
  position: absolute;
  top: 56px;
  height:calc(100vh - 56px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.screenContainer{
  height:100%;
  width: 100%;
  background-image: linear-gradient(135deg, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
.centeredVH{
  transform: translate(-50%,-50%);
  position: absolute;
  top:50%;
  left:50%;
  width: auto;
}
/* === button in col === */
.colCont>.btn-basic{
  width: 100%;
  text-align: center;
  display: block;
}
/* === inputs === */
.inputContainer{
  position: relative;
  width: 100%;
}
.inputContainer input{
  position: relative;
  width: 100%;
  display: block;
}
.inputContainer input::-webkit-input-placeholder{
  color: inherit;
  opacity: 0.4;
}
.inputContainer input::-moz-placeholder{
  color: inherit;
  opacity: 0.4;
}
.inputContainer input[type=text],.inputContainer input[type=number] {
  color:inherit;
  border:none;
  border-bottom: solid 1px;
  background: none;
}

/* range restyling*/
.inputContainer input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}
.inputContainer input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.inputContainer input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
.inputContainer input[type=range]::-webkit-slider-thumb{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  cursor: pointer;
  border: solid 7.5px;
  color: inherit;
  transform: translateY(-50%);
}
.inputContainer input[type=range]::-moz-range-thumb{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: solid 7.5px;
  color: inherit;
  cursor: pointer;
}
.inputContainer input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  border:solid 1px;
  color: inherit;
  cursor: pointer;
}
.inputContainer input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  border:solid 1px;
  color: inherit;
  cursor: pointer;
}
.inputContainer input[type=range]{
  padding:25px 0;
  width: calc(100% - 50px);
  margin: auto;
  color: inherit;
}
.inputContainer .rangeText{
  position: absolute;
  pointer-events:none;
  color: inherit;
}
.inputContainer .rangeMin,.inputContainer .rangeMax{
  height: 25px;
  width: 25px;
  border-radius: 25px;
  border: solid 2px;
  text-align: center;
  line-height: 20px;
  transform: translate(0,-50%);
  font-size: 12px;
}
.inputContainer .rangeMin{
  top:50%;
  left:0;
}
.inputContainer .rangeMin{
  top:50%;
  left:0;
}
.inputContainer .rangeMax{
  top:50%;
  right:0;
}
.inputContainer .rangeTitle{
  top:50%;
  right:0;
  width: 100%;
  text-align: center;
  opacity: 0.7;
}
/*=== Navbar ===*/
.nav-item .btn{
  background: rgba(255,255,255,0.2);
  color:white;
}
.navbar-toggler-i{
  color: white;
  font-size: 30px;
}
.navbar{
  z-index: 1000;
  box-shadow: 0 0 5px black;
}
@media (max-width: 991px){
  .nav-item .iconbutton:after{
    content: attr(title);
    font-family: arial;
    font-weight: normal;
    font-size: 12px;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
  }
}

/*=== Card ===*/
.card{
  border: none;
  box-shadow: 0 5px 20px -10px black;
  margin-bottom: 20px;
}
.canvasWidget>.card-body{
  padding: 0;
}
/*=== parallax ===*/
.parallaxContainer{
  position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
  opacity: 0.2;
  filter: blur(3px);
}
/*=== floatingButton ===*/
.floatingButton0{
  position:fixed;
  bottom: 20px;
  right:20px;
  display: block;
  font-size:40px;
  background:#1a233a;
  color: white;
}
.floatingButton1{
  position:fixed;
  bottom: 80px;
  right:20px;
  display: block;
  font-size:40px;
  background:#1a233a;
  color: white;
}

/*=== toolbar ===*/
.toolbar{
  position: relative;
}
.toolbar .iconbutton{
  display: block;
  margin: auto;
}

/*=== canvas margin fix ===*/
.canvasWidget canvas{
  display: block;
  position: relative;
}

/*=== PhysicsDisplayer ===*/
.modal-dialog{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important;
  max-width: 100% !important;
}
.physicsDisplayer{
  padding:0;
  margin:0;
}
.modal-dialog .physicsDisplayer{
  width: 50vw;
}
/*=== RocketViewer ===*/
.rv-first>div{
  box-shadow: 0px 0px 5px 8px rgba(133, 188, 230,0.50);
}
.rv-last>div{
  box-shadow: 0px 0px 5px 8px rgba(255,163,197,0.50);
}
/*=== modal color fix ===*/
.modal{
  color:black;
}
/*=== ExternalContent ===*/
.fluidframe{
  border: none;
  width: 100%;
  display: block;

}
.modal .fluidframe{
  width:80vw;
  max-width:1000px;
  height:80vh;
}
